/* CSS legal Design */
.memory{
    padding-top: 30px;
}
.price{
    padding-top: 40px;
   
   
}
.hr-text{
   
  border: none;
  border-top: 5px solid;
  border-color: rgb(0, 0, 0);
}
